/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(215,215,215);
  font-family: "Verdana", "Geneva", "sans-serif";
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

img#imglogo {
  width: 15em;
  height: auto;
}

a:link {
  text-decoration:none;
  color: rgb(80,80,0);
  font-weight: bold;
}
a:visited {
  color: rgb(80,80,0);
  font-weight: bold;
}
a:hover {
  text-decoration:none;
  color: rgb(80,80,0);
  font-weight: bold;
}
a:active {
  color: rgb(80,80,0);
  font-weight: bold;
}
