body {
    padding-top: 5em;
    padding-bottom: 2em;
    background-color: rgb(215,215,215);
    font-family: "Verdana", "Geneva", "sans-serif";
}

div.card-header {
    font-weight: bold;
    font-size: 150%;
}

div.card {
    margin-top: 1em;
}

a:link {
    text-decoration:none;
    color: rgb(80,80,0);
    font-weight: bold;
}
a:visited {
    color: rgb(80,80,0);
    font-weight: bold;
}
a:hover {
    text-decoration:none;
    color: rgb(80,80,0);
    font-weight: bold;
}
a:active {
    color: rgb(80,80,0);
    font-weight: bold;
}


h5 {
    font-weight: bold;
}

code {
    display: inline-block;
    width: 100%;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

